/Prj301ChucNang/nbproject/private/
/PRJ_Buoi4/nbproject/private/
/PRJ_Buoi4/build/
/PRJ_Buoi4b/nbproject/private/
/PRJ_Buoi4b/build/
/JavaCsd_Practice/nbproject/private/
/Buoi8_PRJ/nbproject/private/
/Buoi8_PRJ/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication3/nbproject/private/
/WebApplication3/build/
/Baitap_Buoi1/nbproject/private/
/Baitap_Buoi1/build/
/Baitap_Buoi2/nbproject/private/
/Baitap_Buoi2/build/
/ConnectionDB_PRJ/build/
/ConnectionDB_PRJ/nbproject/private/
/Buoi6/nbproject/private/
/Buoi6/build/
/Buoi7/nbproject/private/
/Buoi7/build/
/BTVN_4/nbproject/private/
/PracticeTongHop/nbproject/private/
/PracticeTongHop/build/
/WebApplication4/nbproject/private/
/WebApplication5/nbproject/private/
/Aplicationday2/nbproject/private/
/Aplicationday2/build/
/WebApplication1/dist/
/WebApplication4/build/
/StartupProjectManagement/nbproject/private/
/StartupProjectManagement/build/
/StartupProjectManagement/dist/